[submodule "dreamywg_frontend"]
	path = dreamywg_frontend
	url = git@github.com:aqidd/dreamywg_frontend.git
[submodule "dreamywg_backend"]
	path = dreamywg_backend
	url = git@github.com:StefanDenn3r/dreamywg_backend.git
